<h1> Transactions for <%= user.username %> </h1>

<div class="container border text-center">
  <div class="row">
    <div class="col p-2"><a href="/transaction?groupBy=category" class="btn btn-primary">Group by Category</a></div>
    <div class="col p-2"><a href="/transaction?sortBy=category" class="btn btn-primary">Sort by Category</a></div>
    <div class="col p-2"><a href="/transaction?sortBy=amount" class="btn btn-primary">Sort by Amount</a></div>
    <div class="col p-2"><a href="/transaction?sortBy=description" class="btn btn-primary">Sort by Description</a></div>
    <div class="col p-2"><a href="/transaction?sortBy=date" class="btn btn-primary">Sort by Date</a></div>
  </div>

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #ddddddeb;
    }
  </style>

  <table>
    <tr>
      <b>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Edit</th>
      </b>
    </tr>
    <% items.forEach(item => { %>
      <tr>
        <td> <%= item.description %></td>
        <td> <%= item.amount %></td>
        <td> <%= item.category %></td>
        <td> <%= item.date %></td>
        <td>
          <a href="/transaction/remove/<%=item._id %>">
            <i class="bi bi-trash"></i>
          </a>
        </td>
        <td>
          <a href="/transaction/editTransaction/<%=item._id %>">
            <i class="bi bi-pencil-square"></i>
          </a>
        </td>
      </tr>
    <% }) %>
  </table>
</div>

<h1>Add a New Transaction</h1>

<form method="post" action="transaction">
  <input type="text" placeholder="description" name="description"><br>
  <input type="text" placeholder="amount" name="amount"><br>
  <input type="text" placeholder="category" name="category"><br>
  <input type="text" placeholder="mm/dd/yyyy" name="date"><br>
  <input type="submit" value="store">
</form>
